@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

:root {
  --item--width: 200px;
  --item--height: 275px;
}

.h-screen {
  height: 200vh;
}

.home-container {
  @include parent-styles;

  .home-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary-color;
    overflow: hidden;

    .title-content {
      height: max-content;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      z-index: 99;
      mix-blend-mode: difference;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100vh;

      .title {
        overflow: hidden;
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        h1 {
          text-transform: uppercase;
          font-size: 17vw;
          font-weight: 500;
        }
        .subtitle {
          align-self: flex-end;
          font-style: italic;
        }
      }
    }
  }

  .bic-container {
    .bic-title {
      font-size: $fs-lg;
      font-weight: 400;
      border-bottom: solid 1px black;
      margin-bottom: 10vh;
    }

    .bic-video-container {
      display: grid;
      place-content: center;
      video {
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 498px) {
  .home-container {
    .home-content {
      height: 70vh;
    }
    .bic-container {
      .bic-title {
        font-size: $fs-md;
        margin-bottom: 5vh;
      }
    }
  }
}
