@import "../../../sass/variables.scss";

.divider {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: $secondary-color;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  width: 100%;
  margin-top: 10vh;

  .hero-title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    font-size: $fs-bigger;
    font-weight: 700;
    text-transform: uppercase;
  }
}
