@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.mail-container {
  width: 100%;
  display: flex;
}

.mail-originaux {
  font-size: $fs-base;
  text-decoration: underline;
  font-weight: 500;
  position: relative;
  width: max-content;
}
