@import "../../sass/mixins.scss";

:root {
  --img-size: calc(200px - 1.5vw);
  --img-width-size: calc(400px - 1.5vw);
  --img-height-size: calc(200px - 1.5vw);
}

.about-container {
  @include parent-styles;
  padding: 20vh 4vw;
  padding-bottom: 0;

  .about-content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    .about-title {
      margin-top: 10vh;
      grid-column: 1 / span 12;
      padding: 0 5vw;
      font-size: $fs-xl;
      margin-bottom: 20vh;
      position: relative;
      display: grid;
      place-content: center;
      font-weight: 300;

      span {
        font-style: italic;
        font-weight: 500;
      }
    }

    .right-img {
      grid-column: 7 / span 6;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: contain;
      }
    }

    .left-content {
      font-weight: 300;
      grid-column: 2 / span 4;
      grid-row: 2;

      .left-text {
        letter-spacing: -0.02em;
        font-size: $fs-md;
        line-height: 1.5em;
        margin-bottom: calc(15vh + 2rem);

        .text-2 {
          margin: calc(2vh + 1rem) 0;
        }
      }

      .left-img {
        height: 100%;
        overflow: hidden;
        .left-wrapper {
          height: 40vh;
          position: relative;
          display: block;
          padding-top: 25%;
        }
        .left-wrapper img {
          height: 100%;
          width: 100%;
          position: absolute;
          inset: 0;
          object-fit: cover;
        }
      }
    }
  }

  .quote-container {
    margin: 50vh 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-transform: uppercase;

    .quote-title {
      grid-column: 1 / span 2;
      font-weight: 500;
      font-size: $fs-xxl;
      margin-bottom: 10vh;
    }
    .quote-text {
      font-weight: 300;
      grid-column: 1 / span 2;
      text-align: justify;
    }

    .paragraph {
      display: flex;
      font-size: $fs-md;
      justify-content: center;
      max-width: 1280px;
      color: $secondary-color;
      flex-wrap: wrap;

      .word {
        position: relative;
        margin-right: 12px;
        margin-top: 12px;
        .shadow {
          position: absolute;
          opacity: 20%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    .about-content {
      .about-title {
        padding: 0 3vw;
        grid-row: 1;
        margin-bottom: 5vh;
      }

      .right-img {
        display: none;
      }

      .left-content {
        grid-column: 1 / span 12;
        grid-row: 3;
      }
    }

    .quote-container {
      margin: 20vh 0;

      .quote-text {
        padding: 0;
      }
      .paragraph {
        .word {
          margin-right: 5px;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-container {
    .about-content {
      .about-title {
        padding: 0 3vw;
        grid-row: 1;
        margin-bottom: 5vh;
      }

      .right-img {
        display: none;
      }

      .left-content {
        grid-column: 1 / span 12;
        grid-row: 3;
      }
    }

    .quote-container {
      margin: 20vh 0;

      .quote-text {
        padding: 0;
      }
      .paragraph {
        .word {
          margin-right: 5px;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .about-container {
    .about-content {
      .about-title {
        padding: 0;
      }

      .left-content {
        margin-top: 10vh;
        .left-text {
          .text-2 {
            margin: calc(2vh + 1rem) 0;
          }
        }
      }
    }
    .quote-container {
      margin-bottom: calc(20vh + 2rem);
      .quote-title {
        margin-bottom: calc(5vh + 2rem);
      }

      .paragraph {
        padding: 0;
      }
      .quote-text {
        padding: 0;
      }
    }
  }
}

@media (max-width: 350px) {
  .about-container {
    .about-content {
      .about-title {
        font-size: $fs-lg;
        justify-items: center;
      }
    }
    .quote-container {
      .quote-title {
        font-size: $fs-lg;
      }
    }
  }
}
